@font-face{
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MomoSignature';
    src: url('../assets/fonts/MomoSignature-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

